* {
    box-sizing: border-box;
}

/* Styles the background */
body {
    background-image: url("../images/annie-spratt-469224-unsplash.jpg");
    background-size: 100%;
    }

/* Styles the title */

.navbar-brand {
  margin-left: 35%;
  letter-spacing: 3px;
  font-size: 40px;
  padding: 5px;
}

/* Styles the populating cards */
.empty-container {
    margin-left: 11.5%;
    margin-right: 11.5%;
}

/* Styles the form card */
.category-card {
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 22%;
    margin-right: 22%;
    padding: 15px 15px 15px 15px;
    background-color: rgb(253, 255, 255);
}

#hello-msg {
    font-size: 14px;
    font-style: italic;
    color: rgb(124, 136, 114); 
    margin-bottom: 2px;
    text-align: center;
}

#pet1-img {
    max-width: auto;
    max-height: auto;
}

.card-list {
    text-align: left;
}

#hello-box {
    width: 100px;
    text-align: center;
}

#list-subject {
    font-size: 14px;
    width: 665px;
    list-style-type: none;
    margin: 0;
    padding-left: 15px;
}

label {
    display: inline-block;
    width: 140px;
    text-align: left;
}​

#scheduling {   
    width: 120px; 
    list-style-type: none;
    margin: 0;
}

.input-area {
    width: 490px;
}

/* Styles to the form buttons */
#btn-three {
    float: right;
    margin-right: 34%
}

.button-card {
    width: 110px;
    font-size: 10px;
}


#vetForm {
    width: 110px;
    font-size: 10px;
}

.column {
    float: left;
}

.row {
    margin-left: 0px;
    content: "";
    display: table;
    clear: both;
}

#links-bottom {
    margin-top: 5px;
    display: flex; 
    justify-content: center;
}
.card {
    background: rgba(253, 255, 255, 0.919);
    margin-left: 14%;
    margin-right: 14%;
}

/* Styles for media screens */
@media only screen and (max-width: 1305px) {
    .schedule-list {   
      width: 120px; 
      list-style-type: none;
      text-align: left;
      margin-top: 15px;
      padding-left: 0px;
    }

    #btn-three {
        margin: auto;
    }
}

@media only screen and (max-width: 980px) {
    .input-area {
        width: 300px;
    }
 
 
    .column {
        width: 100%;
      }    
  
      #list-subject {
        font-size: 14px;
        width: 100%;
        list-style-type: none;
        margin: 0;
        padding-left: 0px;
      }
  
      #button-card {
        width: 110px;
        font-size: 10px;
        margin-bottom: 15px;
      }  

      .schedule-list {   
        width: 120px; 
        list-style-type: none;
        text-align: left;
        margin-top: 15px;
        margin-left: 0%;
        padding-left: 0%;
      }

      #btn-three {
        margin: auto;
    }
}
  
@media only screen and (max-width: 768px) {
    .navbar-brand {
        margin: auto;
    }

    .input-area {
        width: 200px;
    }
    
    #input-area {
        width: 200px;
    }
 
 
    .column {
        width: 100%;
        margin-bottom: 15px;
    }    

    #button-card {
        width: 110px;
        font-size: 10px;
    }

    #list-subject {
        font-size: 14px;
        width: 100%;
        list-style-type: none;
        margin: 0;
        padding-left: 0px;
    }

    #btn-three {
        margin: auto;
    }
}

@media screen and (max-width: 600px) {

    .input-area {
        width: 200px;
    }

    .column {
      width: 100%;
    }    

    #list-subject {
      font-size: 14px;
      width: 100%;
      list-style-type: none;
      margin: 0;
      padding-left: 0px;
    }

    #button-card {
      width: 110px;
      font-size: 10px;
      margin-bottom: 15px;
    }

    #btn-three {
        margin: auto;
    }
}


