.list-group-item {
  line-height: 2.5;
}
/* style for html and body */
html, body {
  width: 100%;
}  

/* Style for background image */
 body {
   background-image: url("../images/annie-spratt-469224-unsplash.jpg");
   background-size: 100%;
 }

 /* jumbotron style */
.jumbotron {
  background-color: rgba(253, 255, 255, 0.819);
  text-align: center;
  margin-bottom: 15px;
  padding-bottom: 35px;
  width: 100%;
}

h1 {
  font-size: 75px;
  letter-spacing: 10px;
  text-align: center;
  color: black;
}

h2 {
  font-size: 35px;
  color:  rgb(48, 66, 57);
}

h3 {
  letter-spacing: 2px;
  text-align: center;
}


/* Styles main text area */
.card {
  background-color: rgba(253, 255, 255, 0.719);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

/* Styles list in owner.html */
.card-list {
  font-weight: bold;
  margin-top: 40px;

}

/* Styles pet info */
#pet-msg {
  font-size: 30px;
  margin-left: 30px;
}

p {
  font-size: 18px;
}

/* Styles links @ bottom of pages */
#links-bottom {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(253, 255, 255, 0.719);
  color: black;
  text-align: center;
}

#links {
  position: fixed;
  width: 80%;
  bottom: 0;
  color: black;
  text-align: center;
}

a {
  color: rgb(134, 34, 34);
}

/* Responsive for small mobile screens*/
@media screen and (max-width: 475px) {
  h1 {
    font-size: 45px;
    letter-spacing: 6px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    letter-spacing: 2px;
    font-size: 20px;
  }

  img {
    height: 150px;
    width: auto;
  }

}