* {
    box-sizing: border-box;
}

body {
    background-image: url("../images/annie-spratt-469224-unsplash.jpg");
    background-size: 100%;
    }

.navbar-brand {
  margin-top: 5px;
  font-size: 30px;  
}

#search-form {
    float: right;
}

h3 {
  margin: 0 auto;
  width: 100%;
  border-style: hidden;
  line-height: 55px;
  text-align: center;
  font-size: 30px;
  font-style: oblique;
  color:rgb(170, 111, 111); 
  margin-top: 10px;  
}

.category-card {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 15%;
    margin-right: 15%;
    padding: 15px 15px 15px 15px;
    background-color: rgb(247, 247, 247);
}

#hello-msg {
    font-size: 14px;
    font-style: italic;
    color: rgb(124, 136, 114); 
    margin-bottom: 2px;
    text-align: center;
}

#pet1-img {
    max-width: auto;
    max-height: auto;
}

.card-list {
    text-align: left;
}

#hello-box {
    width: 100px;
    text-align: center;
}

#list-subject {
    font-size: 14px;
    width: 665px;
    list-style-type: none;
    margin: 0;
    padding-left: 15px;
}

label {
    display: inline-block;
    width: 140px;
    text-align: left;
}​

#scheduling {   
    width: 120px; 
    list-style-type: none;
    margin: 0;
}

#button-card {
    width: 110px;
    font-size: 10px;
}

#new-appt {
    width: 110px;
    font-size: 10px;
}

#new-comment {
    width: 110px;
    font-size: 10px;
}

#vetForm {
    width: 110px;
    font-size: 10px;
}

.column {
    float: left;

}

.one {
    width: 20%;
    height: auto;
}

.two {
    width: auto;
    height: auto;
}

.row {
    margin-left: 0px;
    content: "";
    display: table;
    clear: both;
}

#links-bottom {
    margin-top: 5px;
    display: flex; 
    justify-content: center;
}

@media only screen and (max-width: 1305px) {
    .schedule-list {   
      width: 120px; 
      list-style-type: none;
      text-align: left;
      margin-top: 15px;
      padding-left: 0px;
    }
}

@media only screen and (max-width: 980px) {
    .column {
        width: 100%;
      }    
  
      #list-subject {
        font-size: 14px;
        width: 100%;
        list-style-type: none;
        margin: 0;
        padding-left: 0px;
      }
  
      #button-card {
        width: 110px;
        font-size: 10px;
        margin-bottom: 15px;
      }  

      .schedule-list {   
        width: 120px; 
        list-style-type: none;
        text-align: left;
        margin-top: 15px;
        margin-left: 0%;
        padding-left: 0%;
      }
}
  
@media only screen and (max-width: 768px) {
    .column {
        width: 100%;
        margin-bottom: 15px;
    }    

    #button-card {
        width: 110px;
        font-size: 10px;
    }

    #list-subject {
        font-size: 14px;
        width: 100%;
        list-style-type: none;
        margin: 0;
        padding-left: 0px;
    }
}

@media screen and (max-width: 640px) {
    .column {
      width: 100%;
    }    

    #list-subject {
      font-size: 14px;
      width: 100%;
      list-style-type: none;
      margin: 0;
      padding-left: 0px;
    }

    #button-card {
      width: 110px;
      font-size: 10px;
      margin-bottom: 15px;
    }
}


